<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.670698797038-ofk1vi8otkv45ksffjsvt2psga7pl2g7</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSAppleMusicUsageDescription</key>
	<string>MeloMo needs access to your Apple Music library to create personalized playlists based on your mood.</string>
	<key>NSMusicUsageDescription</key>
	<string>MeloMo uses your music library to enhance your listening experience.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
</dict>
</plist>
